// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.soc-ln
    display flex
    resetLn(black, white)
    b(2)
    justify-content center
    align-items center
    width 48px
    height @width
    border-radius 50%
    &:hover
        background colorOrange
        b(2, colorOrange)


//.pslider
//    //&-btn
//    //    .bx-prev, .bx-next
//    //        margin-top -80px
//    //        width 80px
//    //        height @width
//    //        font-size 36px
//    //    .bx-prev
//    //        left 5px
//    //    .bx-next
//    //        right 5px
//    &.owl-carousel .owl-item img
//        margin 0 auto 50px
//        box-shadow 0 20px 30px 0 #cbcbcb

// .bg-pro
//     min-height 500px