// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.soc-ln
    display flex
    resetLn(black, white)
    b(2)
    justify-content center
    align-items center
    width 48px
    height @width
    border-radius 50%
    &:hover
        background colorOrange
        b(2, colorOrange)
