// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.img-a
    margin-bottom -95px


.soc-large
    .soc
        margin 15px 0 0
        justify-content space-between
        &-ln
            margin 30px 0 0
            b(3)
            width 90px
            height @width
            font-size 38px
            &:hover
                b(3, colorOrange)